<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		{% block pageTitle %}{% endblock %}
	</title>
	<link rel="stylesheet" href="/styles/main.css">
	<link rel="stylesheet" href="/styles/normalize.css">
	{% block styles %}{% endblock %}
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet"> 
</head>

<body>
	
	<div class="mainContainer">
		
		<div class="headerBar">
			<ul class="mainMenu">
				<li class="leftMostMenuItem">
					<a href="/"><img class="menuImage" src="/images/home.png" title="home page"></a>
				</li>
				<li class="mainMenuItem">
					<form id="searchBarForm" method="get" action="/search">
						<ul class="subMenu">
							<li class="subMenuItem">
								<input type="text" form="searchBarForm" name="searchField" class="searchText" id="videoSearchText" placeholder="Look for a video"></input>
							</li>
							<li class="subMenuItem">
								<input form="searchBarForm" type="image" class="searchImage" src="/images/search.png" id="/videoSearchButton" title="search video" alt="Submit" />
							</li>
						</ul>
					</form>
				</li>
				<li class="rightMostMenuItem"><a href="/upload"><img class="menuImage" src="/images/videoTape.png" title="upload video"></a></li>
			</ul>
		</div>
		
		{% block pageContent %}{% endblock %}
	</div>
</body>
</html>