{% extends "common.html" %}

{% block pageTitle %}
	{{ "Endavideos" }}
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="/styles/home.css">
{% endblock %}

{% block pageContent %}
<div class="content" id="mostRecentVideosContainer">
	
	<h2>{{resultMessage}}</h2>
	
	{% for video in videos %}
	
		<div class="videoDescription">
			
			<div class="descriptionImage">
				<a href="/play/{{video.id}}"><img src="images/videoTape.png" width="256" height="256"></a>
			</div>
			
			<div class="information" class="videoDescriptionTitle"nContent">
				
				<div class="descriptionText">
					<h3>{{video.title}}</h3>
					<label>{{video.description}}</label><br>
					<label>{{video.publishDate}}</label><br>
				</div>
				
				<div class="descriptionVotes">
					<img src="images/usefulEnabled.png" width="32" height="32">
					<label>{{video.useful}}</label>
					<img src="images/notUsefulEnabled.png" width="32" height="32">
					<label>{{video.notUseful}}</label>
				</div>
			</div>
		</div>
	
	{% endfor %}
</div>
{% endblock %}