{% extends "common.html" %}

{% block pageTitle %}
	{{ "Upload your video" }}
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="/styles/upload.css">
{% endblock %}

{% block pageContent %}
<div class="uploadForm">
	<h2 class="formTitle">Upload your Video!</h2>
	
	<form id="uploadVideoForm" method="post" action="#">
		
		<div class="formFieldsContainer">
			
			<input type="hidden" name="userNick" value="{{user.name}}">
			
			<div class="formRow">
				<label class="uploadLabel">Give it a name</label>
				<input type="text" id="uploadFormNameText" form="uploadVideoForm" name="title" class="uploadTextInput" required>
				<br>
			</div>
			
			<div class="formRow">
				<label class="uploadLabel">Search for it</label>
				<input type="file" id="uploadFormFilePicker" form="uploadVideoForm" name="videoFile" required>
				<br>
			</div>
			
			<div class="formRow">
				<label class="uploadLabel">Give it a description</label>
				<textarea type="textArea" id="uploadFormDescriptionText" form="uploadVideoForm" name="description" class="uploadDescriptionText" rows="3" cols="40" maxlength="120"></textarea>
				<br>
			</div>
			
			<br>
			<input type="submit" id="uploadFormSubmit" form="uploadVideoForm" class="uploadSubmit" value="Upload it">
		</div>
	</form>
</div>
{% endblock %}