{% extends "common.html" %}

{% block pageTitle %}
	{{video.title}}
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="/styles/videoPlaying.css">
{% endblock %}

{% block pageContent %}
<div class="videoContainer">
	<h3 id="videoNameLabel">{{video.title}}</h3>
	<video width="600" height="400" controls>
		<source src="{{videosServerURL}}/{{video.id}}.mp4" type="video/mp4">
	</video>
	
	<div class="votesContainer">
		
		<div class="usefulSection">
			<a id="usefulA" href="#"><img id="usefulIconImage" src="/images/usefulEnabled.png" title="It was useful" width="42" height="42"></a>
			<label id="usefulLabel">{{video.usefulsCount}}</label>
		</div>
		
		<div class="notUsefulSection">
			<a id="notUsefulA" href="#"><img id="notUsefulIconImage" src="/images/notUsefulEnabled.png" title="It wasn't useful" width="42" height="42"></a>
			<label id="notUsefulLabel">{{video.notUsefulsCount}}</label>
		</div>
	</div>
	
	<div class="descriptionContainer">
		<label>
			{{video.description}}
		</label>
	</div>
</div>
{% endblock %}