

.content {
	padding-top: 140px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}
.content::after {
	content: "";
	display: table;
	clear: both;
}


.videoDescription
.descriptionImage {
	float: left;
}


.videoDescription
.information {
	padding-top: 50px;
	margin-left: 256px;
}


.descriptionText
label {
	margin-bottom: 10px;
}


.videoDescription {
	padding-bottom: 20px;
	float: left;
	width: 100%;
}