

body {
	padding-top: 0;
	background: #F8F8F8;
}


.mainContainer {
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	max-width: 1024px;
	background: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0;
	margin-top: 0;
	min-height: 400px;
}


.headerBar {
	border-bottom: 2px solid #F8F8F8;
	font-family: 'Oswald', sans-serif;
	background: #FFFFFF;
	width: 100%;
	max-width: 1024px;
	position:fixed;
}


.headerBar,
.mainMenu {
	padding-top: 7px;
	margin-top: 0;
	height: 70px;
	width: 100%;
}


.mainMenu,
.subMenu {
	list-style: none;
}


.subMenuItem {
	padding-left: 0px;
	padding-right: 0px;
}


.mainMenuItem,
.rightMostMenuItem,
.leftMostMenuItem,
.subMenuItem {
	float: left;
}


.rightMostMenuItem{
	padding-left: 40px;
}


.leftMostMenuItem {
	width: 212px;
}


.searchText {
	height: 30px;
	width: 360px;
	resize: none;
	padding-top: 16px;
	padding-left: 6px;
}


.searchImage {
	padding: 4px 4px 4px 4px;
	height: 40px;
	width: 43px;
	background: #D3D3D3;
}


.menuImage {
	width: 48px;
	height: 48px;
}