

.uploadForm,
.formFieldsContainer,
.formTitle{
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	color: #434343;
}


.uploadForm {
	padding-top: 120px;	
}


.formFieldsContainer {
	padding-top: 30px;
	height: 100%;
	padding-bottom: 20px;
}


.formTitle{
	width: 220px;
}


.formFieldsContainer {
	width: 500px;
}


.formRow {
	padding-bottom: 9px;
}


.formRow
label {
	float: left;
	margin-top: 4px;
}


.formRow
input {
	float: right;
	margin-bottom: 6px;
}


.formRow
#uploadFormSelectFileButton,
#uploadFormFilePicker {
	width: 75px;
	margin-left: 200px;
}


.formFieldsContainer
#uploadFormSubmit {
	width: 80px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}


.formRow
.uploadDescriptionText{
	resize: none;
	float: right;
	margin-bottom: 6px;
	overflow-y: hidden;
}