

.videoContainer{
	padding-top: 120px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}


.alreadyVoted {
	width: 42px;
	height: 42px;
	background: rgba(0, 0, 0, 0.75);
	z-index: 2;
}


.votesContainer
.usefulSection {
	z-index: 1;
	float: left;
}


.votesContainer
.notUsefulSection {
	z-index: 1;
	margin-left: 76px;
}


.descriptionContainer
label {
	width: 100px;
}